{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
        <h1>Logs Monitoring</h1>
        <div class="row mb-3">
            <div class="col-md-6">
                <form method="GET" action="{{ url_for('index') }}">
                    <div class="input-group">
                        <input type="text" name="search_query" class="form-control" placeholder="Search logs by content..." value="{{ search_query }}">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Table to display logs -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Content Preview</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log['id'] }}</td>
                    <td>
                        <strong>@timestamp:</strong> {{ log['formatted_date'] }}<br>
                        <strong>@version:</strong> {{ log['version'] }}<br>
                        <strong>event.original:</strong> {{ log['event_original'] }}<br>
                        <strong>host.name:</strong> {{ log['host_name'] }}<br>
                        <strong>log.file.path:</strong> {{ log['log_file_path'] }}<br>
                        <strong>message:</strong> {{ log['content'] }}
                    </td>
                    <td>{{ log['formatted_date'] }}</td>
                    <td>
                        <a href="{{ url_for('view_log', log_id=log['id']) }}" class="btn btn-info btn-sm">View</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No logs found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination controls -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('index', search_query=search_query, page=page-1) }}" class="btn btn-primary" style="margin-right: 5px;">Previous</a>
            {% endif %}
        
            {% if page > 2 %}
                <a href="{{ url_for('index', search_query=search_query, page=1) }}" class="btn btn-primary" style="margin-right: 5px;">1</a>
                <span>...</span>
            {% endif %}
        
            {% for p in page_range %}
                <a href="{{ url_for('index', search_query=search_query, page=p) }}" 
                   class="btn btn-primary {% if p == page %}active{% endif %}" 
                   style="margin-right: 5px;">{{ p }}</a>
            {% endfor %}
        
            {% if page < total_pages-1 %}
                <span>...</span>
                <a href="{{ url_for('index', search_query=search_query, page=total_pages) }}" class="btn btn-primary" style="margin-right: 5px;">{{ total_pages }}</a>
            {% endif %}
        
            {% if page < total_pages %}
                <a href="{{ url_for('index', search_query=search_query, page=page+1) }}" class="btn btn-primary" style="margin-right: 5px;">Next</a>
            {% endif %}
        </div>
        {% endblock %}
