<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Search Logs</h1>
    </header>
    <form action="/search" method="POST">
        <label for="query">Search Query:</label>
        <input type="text" name="query" id="query" value="{{ query }}" required>
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Search Results:</h2>
        <ul>
            {% for result in results %}
                <li>{{ result._source.message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for your query.</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
